/* 
--- 01 TYPOGRAPHY SYSTEM


-FONT WEIGHTS:
Default: 400
Medium: 500
Semi-Bold: 600
Bold: 700

-LINE HEIGHTS:
Default: 1
Small: 1.05
Medium: 1.2
Para Default: 1.6

-Letter Spacing

0.5px
0.75px

-FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 

---02 COLORS

Primary: #bfdbf7 #c5dff8 #1f7a8c #1c2541 #fefefa


Tints:
10%: #0a1127
20%: #090f22
30%: #080d1e
40%: #070b1a
50%: #060a16

LightShades:
10%: #232b40
20%: #3c4255
30%: #545a6b
40%: #6d7180
50%: #858995

Accents:
Greys: #555
       #333

---03 SHADOWS



box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

---04 BORDER-RADIUS

 Default: 9px
 11px

---06 WHITENESS

Spacing System(px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 20px;*/
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}
body {
  font-family: Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #777;
  /* background-image: url("../img/Uni.jpeg");
  background-size: 155rem; */
}
/***********************************/
/* GENERAL REUSABLE COMPONENTS */
/***********************************/

.container {
  max-width: 120rem;
  margin: 0 auto;
}

/* GRIDS */
.grid {
  display: grid;
  column-gap: 9.6rem;
  row-gap: 9.6rem;

  /* padding: 0 3.2rem; */
}
/* .grid:last-child {
  margin-bottom: 0;
} */
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

/* HEADINGS */
.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  /* color: #fefefa; */
  color: #000;
  letter-spacing: -0.5px;
}
.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.sub-heading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #1c2541;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

/* BUTTONS */
.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.6rem 3.2rem;
  border-radius: 25px;

  /* only neccessary for btn class */
  border: none;
  cursor: pointer;
  font-family: inherit;
  /* Put transition on original state */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #1c2541;
  color: #fefefa;
}
.btn-full:hover,
.btn-full:active {
  background-color: #1c2541;
  color: #fff;
  box-shadow: inset 0 0 0 3px #fff;
}

.btn-outline:link,
.btn-outline:visited {
  background-color: white;
  color: #111;
}
.btn-outline:hover,
.btn-outline:active {
  background-color: #1c2541;
  /* border: 3px solid #fff; */
  /* Tricks to add border inside */
  color: #fff;
  box-shadow: inset 0 0 0 3px #fff;
}

.btn-form {
  background-color: #1c2541;
  color: #fff;
  align-self: end;
  padding: 1.2rem;
}

.btn-form:hover {
  background-color: #fff;
  color: #555;
  transition: 0.3s;
}
/* LINKS */

.link:link,
.link:visited {
  display: inline-block;
  color: #1c2541;
  text-decoration: none;
  /* border-bottom: 1px solid currentColor; */
  padding-bottom: 0.2rem;
  transition: all 0.3s;
}
.link:hover,
.link:active {
  color: #1c2541;

  /* border-bottom: 1px solid transparent; */
}

/* LISTS */

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

*:focus {
  /* never do this */
  outline: none;
  /* outline: 4px dotted #e67e22; */
  /* outline-offset: 8px; */
  box-shadow: 0 0 0 0.8rem rgba(28, 37, 65, 0.25);
}
/* HELPER CLASSES */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}
